
<h1>Cíntia da Silva Galvão</h1>                            
<h4>Analista de teste de software</h4>

<head>
    <title>Currículo</title>
</head>

<h3>Quem Sou</h3>
<p>Sou analista de teste de software. Na fábrica de Tecnologias Turing, Como analista de requisitos realizei analise e especificação de requisitos e criação de mockups. Como analista de teste liderei a equipe de qualidade de software em teste funcionais, Katalon para testes automatizados, e teste de performance com o Jmeter.
    Na Squadra Tecnologia atuei com teste funcionais, testes em APIs, reportar bugs e gerar evidências.
    Na Grupo Siagri atuo com testes web, mobile, ERP, API e melhoria de usabilidade.</p>


    <body>
        <TABLE BORDER=0> <! Inicia a tabela e coloca uma borda de espessura igual a 1>
            
            <tr>
            <TD><h5>EXPERIENCIA</h5> <! Aqui foi criada uma célula>


            <p>Grupo Siagri – 2020
                <br>Analista de Teste de Software</p>

                <p>
                    Inline - Engenharia de Software (freelancer) - 2019 
                    <br>Analista de Teste de Software
                </p>

                <p>
                    Squadra Tecnologias – 2018/2020
                    <br>Analista de Teste de Software.
                </p>

                <p>
                    Fábrica de Tecnologias Turing – 2017/2018 
                    <br>Analista de Requisitos de Software.
                    <br>Analista de Teste de Software (líder de equipe).
                </p>

                <p>
                    Contatos
                    <br>Celular: 62 998519285
                    <br>E-mail: cintiafp6@gmail.com
                    <br><a href="https://www.linkedin.com/in/cíntia-da-silva-galvão/"> Acesse o Linkedin</a>
                </p>
            </tr>

        </TD>

        <TABLE BORDER=0> <! Inicia a tabela e coloca uma borda de espessura igual a 1>
            
            <tr>
            <TD><h5>EXPERIENCIA</h5> <! Aqui foi criada uma célula>


            <p>Grupo Siagri – 2020
            
            </tr>

        </TD>

            
    </body>


